 body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  font-weight: 600;
  overflow-x: hidden;
}

h1 {
  color: #fff;
  font-size: 28px;
  margin: 20px 0;
  text-align: center;
}

.buttons-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.button {
  background-color: #ff4d4d;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  text-align: center;
}

.button:hover {
  background-color: #e60000;
}

/* Nueva clase para pantalla completa */
.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  animation: fadeIn 0.3s ease-in-out;
}

/* Animación de entrada */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.iframe-container {
  position: relative;
  width: 90%;
  max-width: 800px;
  padding-top: 56.25%;
  overflow: hidden;
  border: 2px solid #fff;
  border-radius: 5px;
  margin-top: 20px;
}

.fullscreen .iframe-container {
  width: 100%;
  max-width: 100%;
  height: 100%;
  padding-top: 0;
  border: none;
  border-radius: 0;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://raw.githubusercontent.com/maicolyordan/Evoluci-nTV-/refs/heads/Html/FONDO.png');
  background-size: cover;
  background-position: center;
  cursor: pointer;
  z-index: 10;
}

p {
  margin-top: 20px;
  text-align: center;
  line-height: 1.6;
}

#volver-inicio {
  position: absolute;
  left: 10px;
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

/* Botón de cerrar */
.close-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 24px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10000;
}
.close-btn:hover {
  color: red;
}
